#container{
    height: 100%;
    width: 100%;
}
#container>#top{
    height: auto;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin: auto;
    padding-top: 70px;
}
#top1>h1{
    font-size:40px;
}
#top1>p{
    font-size:18px;
    line-height: 30px;
    color: rgb(82, 72, 72);
}
#top1>button{
    padding: 12px 25px;  
    font-size: 16px;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 5px;
}
#top1>.top1btn{
    background-color: rgb(45, 185, 45);
    color: white;
    margin-right: 7px;
}  

#secondtop{
    height: auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 30px;
}
#secondtop>div{
    width: 20%;
}
#secondtop>div>p{
    line-height: 25px;
    font-size: 17px;
    color: rgb(82, 72, 72);
}
#secondtop>div>button{
    padding: 10px 20px;  
    font-size: 12px;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: white;
    margin-top: 24px;
}
.shadow{
    -webkit-box-shadow: 0 0 .75rem rgba(0,0,0,.12)!important;
    box-shadow: 0 0 .75rem rgba(0,0,0,.12)!important;
}

.box{
    height: auto;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;            
}
.box>div{
    width: 48%;
}
.box>div>iframe{
    padding-top: 50px;
}
.para1{
    line-height: 28px;
    font-size: 18px;
    color: rgb(82, 72, 72);
}
.para2{
    font-size: 18px;
    color: rgb(82, 72, 72);
}
.trialbtn,.demobtn{
    padding: 12px 25px;  
    font-size: 16px;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 5px;
}
.trialbtn{
    background-color: rgb(45, 185, 45);
    color: white;
    margin-right: 7px;
}
.tick_mark{
    color: green;
}

#secondmiddle{
    height: 200px;
    width: 100%;
    background: linear-gradient(180deg,#333c43 -.05%,#262c30);

}
#innersecondmiddle{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
    width: 60%;
    margin: auto;
    padding-top: 50px;

}
#innersecondmiddle>div{
    padding-left: 30px;

}
.checked{
    color: white;
}
.borderline{
    border-left: 2px solid white;
    height: 100px;
    position:absolute;
    left: 40%;
}
.borderlineright{
    border-left: 2px solid white;
    height: 100px;
    position:absolute;
    left: 60%;
}

#bottom{
    height: auto;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
    gap: 20px;
    margin-top: 70px;
}
#bottom>div>p{
    line-height: 30px;
    color: rgb(82, 72, 72);
    font-size: 18px;
}
#slider{
    width: 85%;
    margin: auto;
}
.carousel-cell{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 50px;
    width: 100%;
    margin: auto;
}
.carousel-cell>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    background-color: white;
    margin-bottom: 30px;
}
.carousel-cell>div>div{
    display: flex;
    justify-content: left;
}
.carousel-cell>div>div>div>img{
    border-radius: 50%;
}
.carousel-cell>div>p{
    line-height: 25px;
    font-size: 18px;
    padding-bottom: 50px;
    color: rgb(82, 72, 72);
}
.carousel-cell>div>div>div>p{
    font-size: 18px;
    color: rgb(82, 72, 72);
}
#secondbottom>h1{
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 70px;
    margin-bottom: 70px;
}
#secondbottom{
    background-color: rgb(243, 239, 239);
    margin-top: 50px;
}


#thirdbottom{
    background-color: rgb(16, 172, 16);
    padding: 50px;
    margin-top: 40px;
}
#thirdbottom>div{
    width: 50%;
    margin: auto;
    text-align: center;
    color: white;
}
#thirdbottom>div>input{
    height: 38px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}
#thirdbottom>div>button{
    height: 45px;
    padding: 0px 40px;  
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgb(16, 172, 16);
    font-weight: bold;
}

@media all and (min-width:500px) and (max-width:990px) {
    #container>#top{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
        
    }
    #secondtop{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;    
        
    }
    #secondtop>div{
        width: 100%;
    }
    .box{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;             
    }
    .box>div{
        width: 100%;
    }
    #bottom{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
    }
    .carousel-cell{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        gap: 50px;
        width: 100%;
        margin: auto;
    }
    
}
@media all and (min-width:100px) and (max-width:500px) {
    #container>#top{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
        
    }
    #secondtop{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;  
        
    }
    #secondtop>div{
        width: 100%;
    }
    .box{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;             
    }
    .box>div{
        width: 100%;
    }
    #innersecondmiddle{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);     
    }
    .borderline{
        border-left: none;
        height: none;
        position:none;
        left: none;
    }
    .borderlineright{
        border-left: none;
        height: none;
        position:none;
        left: none;
    }
    #bottom{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
    }
    .carousel-cell{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: none;
        gap: 50px;
        width: 100%;
        margin: auto;
    }
    #thirdbottom>div>input{
        margin-left: -50px;
        width: 200px;
    }
}