body{
    font-family: "Source Sans Pro", sans-serif;
}

div{
    /* border: 1px solid red; */
}

#hero-section{
    width: 88%;
    margin: auto;
}
#hero-first{
    /* width: 88%; */
    height: auto;
    display: flex;
}

#hero-first>div{
    width: 47%;
    height: 100%;
    margin: auto;
    
}

.left-div{
    width: 80%;
    padding: 0px 12px;
}
.left-div a{
    color: #475056;
    font-weight: bold;
}
.left-div input{
    width: 270px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 2px;
    border: 1px solid gray;
}
.left-div button{
    background-color: #4ea819;
    color: white;
    width: 230px;
    height: 45px;
    border: 1px solid gray;
    font-size: 20px;
    margin-left: 10px;
    font-weight: bolder;
    border-radius: 3px;
}
.h1{
    font-size: 42px;
    color: #333c43;
    line-height: 54px;
}
.p{
    color: #475056;
    font-size: 17.5px;
    line-height: 30px;
}
#hero-section iframe{
    padding-top: 50px;
    border-radius: 10px 10px 10px 10px;
}

#hero-second{
    width: 90%;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    padding-left: 80px;
}
#hero-second img{
    margin: 0px 15px;
}

#second{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 550px;
    margin-top: 100px;
    margin-bottom: 50px;
    /* padding: 10px; */
}
#second img{
    padding: 25px;
}
#second-left{
    width: 60%;
    height: auto;
}

#card-wrapper{
    display: flex;
    
}
.cards{
    width: 50%;
    height: 120px;
    padding: 20px;
}

#third{
    width: 85%;
    margin: auto;
    margin-top: 100px;
    padding-top: 25px;
    text-align: center;
    
}
#third h1{
    font-size: 35px;
}
#gray{
    width: 100%;
    background-color: #eceded;
}

.h1-color{
color: #333c43;
}

#third-parts{
    height: auto;
    display: flex;
    text-align: left;
    padding: 10px;
    justify-content: space-around;
}

#third-parts>div{
    width: 45%;
}

#third-left div{
    margin-bottom: 30px;
}
#third-right img{
    margin: 100px 0px 10px 0px;
}

#third-left p{
    font-size: 17px;
    line-height: 28px;
    color: #475056;
}