#nav{
    height: 100px;
    width: 100%;
    /* border: 1px solid red; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
#nab{
    display: flex;
    height: 100px;
    width: 100%;
    /* border: 1px solid blue; */
    margin: auto;
    justify-content: space-between;
  
}
#logo{
    height: 80px;
    width: 15%;
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-right: 200px;
    margin-left: 60px;
 
}
#logo>a>img{
    width: 100%;
}
#menu{
    height: 100px;;
    width: 80%;
    /* border: 1px solid blue; */
    display: flex;
   justify-content: space-between;
   margin-right: 80px;
}
.menubar{
    height: 80px;
    width:9% ;
    /* border: 1px solid green; */
    margin-top: 10px;
}
a{
    align-self: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #343a40;

}
a:hover{
    /* color: #43762b; */
    text-decoration: underline;
    text-decoration-color: #43762b ;
    margin-top: 10px;
}

#btn{
    height:50px;
    width: 100px;
    align-self: center;
    border-radius: 5px;
    background-color: white;
   
}
#btn:hover{
    background-color: #f8f9fa;
    cursor: pointer;
}
#sign{
    height: 50px;
    width: 100px;
    align-self: center;
    background-color: #4ea819;
    color: white;
    border-radius: 5px;
    border: none;
}
#sign:hover{
    cursor: pointer;
    background-color:#28a745;
}
#select{
    height: 50px;
    width: 100px;
    align-self: center;
    border-radius: 5px;
    border: none;
}
#select:hover{
    cursor: pointer;
}
